In [8]:
import pandas as pd 
import time

In [10]:
print("dosya indiriliyor biraz zaman alabilir")
start=time.time()

df=pd.read_csv('C:/Users/55555/Desktop/Android PRJ/ML PRJ/hotel_reviews.csv')
end=time.time()

print("yüklenme süresi " + str(round(end-start,2)) + " saniye")

dosya indiriliyor biraz zaman alabilir
yüklenme süresi 3.82 saniye

In [12]:
print("data frame özellikleri; satır ve sütun " + str(df.shape))

data frame özellikleri; satır ve sütun (515738, 17)

In [19]:
nationality_freq=df["Reviewer_Nationality"].value_counts()
print(str(nationality_freq.size)+   " adet ülkeden yorum var" )
print(nationality_freq[1:11])

227 adet ülkeden yorum var
Reviewer_Nationality
United States of America     35437
Australia                    21686
Ireland                      14827
United Arab Emirates         10235
Saudi Arabia                  8951
Netherlands                   8772
Switzerland                   8678
Germany                       7941
Canada                        7894
France                        7296
Name: count, dtype: int64

In [24]:
hotel_freq_df=df.drop(["Hotel_Address","Additional_Number_of_Scoring","Review_Date",
"Average_Score","Reviewer_Nationality","Negative_Review","Review_Total_Negative_Word_Counts",
"Positive_Review","Review_Total_Positive_Word_Counts","Total_Number_of_Reviews_Reviewer_Has_Given",
"Reviewer_Score","Tags","days_since_review","lat","lng"],axis=1)
hotel_freq_df['Total_Reviews_Found']=hotel_freq_df.groupby('Hotel_Name').transform('count')

hotel_freq_df=hotel_freq_df.drop_duplicates(subset=['Hotel_Name'])
display(hotel_freq_df)

,Hotel_Name,Total_Number_of_Reviews,Total_Reviews_Found
0,Hotel Arena,1403,405
405,K K Hotel George,1831,566
971,Apex Temple Court Hotel,2619,1037
2008,The Park Grand London Paddington,4380,1770
3778,Monhotel Lounge SPA,171,35
...,...,...,...
511962,Suite Hotel 900 m zur Oper,3461,439
512401,Hotel Amadeus,717,144
512545,The Berkeley,232,100
512645,Holiday Inn London Kensington,5945,2768
515413,Atlantis Hotel Vienna,2823,325

In [30]:



def get_difference_review_avg(row):
    return row["Average_Score"]- row["Calc_Average_Score"]

df['Calc_Average_Score']=round(df.groupby('Hotel_Name').Reviewer_Score.transform('mean'),1)

df["Average_Score_Difference"] = df.apply(get_difference_review_avg , axis = 1)

review_scores_df=df.drop_duplicates(subset=["Hotel_Name"])

review_scores_df=review_scores_df.sort_values(by=["Average_Score_Difference"])

display(review_scores_df[["Average_Score_Difference","Average_Score","Calc_Average_Score","Hotel_Name"]])

,Average_Score_Difference,Average_Score,Calc_Average_Score,Hotel_Name
495945,-0.8,7.7,8.5,Best Western Hotel Astoria
111027,-0.7,8.8,9.5,Hotel Stendhal Place Vend me Paris MGallery by...
43688,-0.7,7.5,8.2,Mercure Paris Porte d Orleans
178253,-0.7,7.9,8.6,Renaissance Paris Vendome Hotel
71274,-0.5,8.9,9.4,Drawing Hotel
...,...,...,...,...
201776,0.7,7.5,6.8,Mercure Paris Op ra Faubourg Montmartre
22189,0.8,7.1,6.3,Holiday Inn Paris Montparnasse Pasteur
250308,0.9,8.6,7.7,MARQUIS Faubourg St Honor Relais Ch teaux
68936,0.9,6.8,5.9,Villa Eugenie
3813,1.3,7.2,5.9,Kube Hotel Ice Bar

In [32]:
start=time.time()
no_negative_reviews=sum(df.Negative_Review=="No Negative")
print("Negatif Yorum Almayan otellerin Sayısı: "+  str(no_negative_reviews))
no_pozitive_reviews=sum(df.Positive_Review=="No Positive")
print("Pozitif Yorum Almayan otellerin Sayısı: "+  str(no_pozitive_reviews))

both_no_reviews=sum((df.Positive_Review=="No Positive" )&(df.Negative_Review=="No Negative"))
print("Olumlu veya olumsuz değerlendirme almayan otellerin sayısı: "+ str(both_no_reviews))
end=time.time()

print("hesaplama "+ str(round(end-start,2))+ " saniye sürdü")

Negatif Yorum Almayan otellerin Sayısı: 127890
Pozitif Yorum Almayan otellerin Sayısı: 35946
Olumlu veya olumsuz değerlendirme almayan otellerin sayısı: 127
hesaplama 0.32 saniye sürdü